%nav-info-styling {
  font-family: var(--nav-info-area-font);
  font-size: var(--nav-info-area-font-size);
  font-weight: var(--nav-info-area-font-wieght);
  color: var(--nav-info-area-font-color);
}
